@model LakeInn.Models.DataModels.Room

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutHome.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Room Detail</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Max Guests</span>
                                <span class="info-box-number text-center text-muted mb-0">@Html.DisplayFor(model => model.MaxGuests)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Price/Night</span>
                                <span class="info-box-number text-center text-muted mb-0">$@Html.DisplayFor(model => model.Price)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span class="info-box-text text-center text-muted">Status</span>
                                <span class="info-box-number text-center text-muted mb-0">@((Model.Status)?"Used":"Unused")</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>
                            @Html.DisplayFor(model => model.Name)
                        </h4>
                        <div class="post">
                            <p>
                                @Html.DisplayFor(model => model.Description)
                            </p>
                            <img  style="max-width: 300px; width: 100%" src="@Model.Image" alt="user image">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                <h3 class="text-primary"><i class="fas fa-paint-brush"></i> Different info</h3>
                <p class="text-muted">
                    Room Face: @Html.DisplayFor(model => model.RoomFace)
                </p>
                <br>
                <div class="text-muted">
                    <p class="text-sm">
                        Date Created
                        <b class="d-block">@Html.DisplayFor(model => model.Date_Created)</b>
                    </p>
                    <p class="text-sm">
                        Date Updated
                        <b class="d-block">
                            @Html.DisplayFor(model => model.Date_Updated)
                        </b>
                    </p>
                </div>

                <h5 class="mt-5 text-muted">Services</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="btn-link text-secondary">
                            @Html.DisplayFor(model => model.Wifi) Wifi
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn-link text-secondary">
                            @Html.DisplayFor(model => model.Breakfast) Breakfast
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn-link text-secondary">
                            @Html.DisplayFor(model => model.RoomService) Room Service
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn-link text-secondary">
                            @Html.DisplayFor(model => model.AirportPickup) Airport Pickup
                        </a>
                    </li>
                </ul>
                <div class="text-center mt-5 mb-3">
                    <a href="@Url.Action("Edit","Rooms",new { id = Model.Id })" class="btn btn-sm btn-primary">Edit room</a>
                    <a href="@Url.Action("Index")" class="btn btn-sm btn-warning">Back to list</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>