@model IEnumerable<LakeInn.Models.DataModels.Room>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutHome.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Rooms Table</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                        <thead>
                            <tr>
                                <th style="width: 70%">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit","Rooms",new { id = item.Id })" class="btn btn-success">Edit</a>|
                                        <a href="@Url.Action("Details","Rooms",new { id = item.Id })" class="btn btn-primary">Details</a> |
                                        <button type="button" class="btn btn-danger click-delete" data-id="@item.Id">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
@section scripts{
    <script>
        $(".click-delete").click(function () {
            var id = $(this).attr("data-id");
            var cf = confirm("Are you sure this record?");
            if (cf) {
                $.ajax({
                type: "GET",
                url: "@Url.Action("DeleteRoom")",
                data: { id: id },
                success: function (rs) {
                    toastr.success(
                        'Delete successfully!',
                        'Notification!',
                        {
                            timeOut: 1000,
                            fadeOut: 1000,
                            onHidden: function () {
                                window.location.reload();
                            }
                        });
                }
            });
            }
        });
    </script>
}