@{ var session_user = Session["user"] as LakeInn.Models.DataModels.User;}
<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/Areas/Administrator/TempLTE/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div>

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="@Url.Action("Index", "Admin")" class="nav-link">Home</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "Admin")" class="brand-link">
        <img src="~/Areas/Administrator/TempLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@session_user.Avatar" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@session_user.FullName</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item @((ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" || ViewContext.RouteData.Values["Action"].ToString() == "MyProfile") ? "menu-open" : "")">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Manager Profile
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("MyProfile", "Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "MyProfile" ? "active" : "")">
                                <i class="fab fa-pinterest-p nav-icon"></i>
                                <p>Profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ChangePassword", "Admin")" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "ChangePassword" ? "active" : "")">
                                <i class="fas fa-key nav-icon"></i>
                                <p>Change Password</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Logout", "Login")" class="nav-link">
                                <i class="fas fa-sign-out-alt nav-icon"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </li>
                @{
                    if (session_user.Id == 1)
                    {
                        <li class="nav-header">Users</li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Users")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "active" : "")">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    User
                                </p>
                            </a>
                        </li>
                    }
                }
                <li class="nav-header">Rooms</li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Rooms")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Rooms" ? "active" : "")">
                        <i class="nav-icon fas fa-hotel"></i>
                        <p>
                            Rooms
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","RoomTypes")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "RoomTypes" ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Room Type
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","BedTypes")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "BedTypes" ? "active" : "")">
                        <i class="nav-icon fas fa-bed"></i>
                        <p>
                            Bed Type
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Books")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Books" ? "active" : "")">
                        <i class="nav-icon fas fa-eye"></i>
                        <p>
                            Booking
                        </p>
                    </a>
                </li>
                <li class="nav-header">Articles</li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Tags")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Tags" ? "active" : "")">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                            Tags
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Categories")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Categories" ? "active" : "")">
                        <i class="nav-icon fab fa-cuttlefish"></i>
                        <p>
                            Categories
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Articles")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Articles" ? "active" : "")">
                        <i class="nav-icon far fa-newspaper"></i>
                        <p>
                            Articles
                        </p>
                    </a>
                </li>
                <li class="nav-header">Pages</li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Teams")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Teams" ? "active" : "")">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Team
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Contacts")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Contacts" ? "active" : "")">
                        <i class="nav-icon far fa-address-book"></i>
                        <p>
                            Contacts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Banners")" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Banners" ? "active" : "")">
                        <i class="nav-icon fab fa-slideshare"></i>
                        <p>
                            Banner & Slide
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>