@model IEnumerable<LakeInn.Models.DataModels.Comment_Article>

@{
    ViewBag.Title = "Comment";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutHome.cshtml";
}
<div class="mb-3">
    <a href="@Url.Action("Index","Articles")" class="btn btn-sm btn-warning"><i class="fas fa-arrow-left"></i> Back to article</a>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">List comment</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 20%">
                        Name
                    </th>
                    <th style="width: 20%">
                        Email
                    </th>
                    <th>
                        Comment
                    </th>
                    <th style="width: 8%" class="text-center">
                        Status
                    </th>
                    <th style="width: 20%">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Comment
                    </td>
                    <td class="project-state">
                        <a href="javascript:void(0)" class="click-change" data-id="@item.Id">
                            @if (item.Status)
                            {
                                <span class="badge badge-success">Unlock</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Lock</span>
                            }
                        </a>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Details","Comment",new { id= item.Id})">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-danger btn-sm click-delete" data-id="@item.Id" href="javascript:void(0)">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@section scripts{
    <script>
        $(".click-change").click(function () {
            var id = $(this).attr('data-id');
            var cf = confirm("Are you sure show this comment!");
            if (cf) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ChangeComment")",
                    data: { id: id },
                    success: function () {
                        toastr.success(
                            'Change status this comment success!',
                            'Notification!',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            });
                    }
                });
            }
        });
        $(".click-delete").click(function () {
            var id = $(this).attr('data-id');
            var cf = confirm("Are you sure delete this comment!");
            if (cf) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Delete")",
                    data: { id: id },
                    success: function () {
                        toastr.success(
                            'Delete this comment success!',
                            'Notification!',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload();
                                }
                            });
                    }
                });
            }
        });
    </script>
}