@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Areas/Administrator/TempLTE/dist/css/adminlte.min.css">

<div class="container-fluid banner">
    <div class="row banner-slide">
        @foreach (var item in ViewBag.Slides as IEnumerable<LakeInn.Models.DataModels.Slides>)
        {
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 banner-item" style="background-image: url(@item.Image);">
                <div class="title banner-word">
                    <p>@item.Title</p>
                </div>
                <div class="description banner-word">
                    <p>@item.Content</p>
                </div>
            </div>
        }
    </div>
    <div class="prev-banner-box"><span><i class="fa fa-angle-left" id="prevBanner"></i></span></div>
    <div class="next-banner-box"><span><i class="fa fa-angle-right" id="nextBanner"></i></span></div>
    <div class="booking">
        <div class="row" style="background-color: #faf9f8">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-md">
                <p>Check-in Date<span>*</span></p>
                <div class="infos">
                    <input type="date" name="" id="cid" class="criteria">
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p>Check-out Date<span>*</span></p>
                <div class="infos">
                    <input type="date" name="" id="cod" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p>Adults<span>*</span></p>
                <div class="infos">
                    <input type="number" name="" id="qadult" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item">
                <p>Childs<span>*</span></p>
                <div class="infos">
                    <input type="number" name="" id="qchild" class="criteria">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
                <p style="color: transparent;">A</p>
                <div class="infos">
                    <input type="button" data-toggle="modal" name="" id="btnBook" data-target="#exampleModalCenter" value="BOOK NOW" class="criteria sub-btn">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end carousel banner -->
<!-- welcome -->
<div class="container-fluid welcome">
    <div class="container words">
        <p class="title">Welcome to the Lake Inn!</p>
        <div class="icon-title">
            <img src="/Content/img/icon-title.png">
        </div>
        <p class="short-des">We are pleased to be your premier breakfast and bed for rest, activities and nature on Beautiful Lake.</p>
    </div>
    <div class="container images">
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 itemBox" style="height: 400px;">
                <div class="item" style="background-image: url(@ViewBag.About_I1);"></div>
            </div>
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-xl-12 col-lg-6 col-md-12 itemBox" style="height: 200px;">
                        <div class="item" style="background-image: url(@ViewBag.About_I2);"></div>
                    </div>
                    <div class="col-xl-12 col-lg-6 col-md-12 itemBox" style="height: 200px;">
                        <div class="item" style="background-image: url(@ViewBag.About_I3);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container detail">
        <p>Smithhammer House at Terry Point is the perfect New Hampshire Inn. with nature at our doorstep and many attractions nearby. On our scenic, quiet property, you will be treated to idyllic views of Beautiful Lake and its glistening water, our guardian mountains in the distance and luscious gardens.</p>
        <div class="more">
            <a href="@Url.Action("About")">
                <input type="submit" name="" value="more about us">
            </a>
        </div>
    </div>
</div>
<!-- end welcome -->
<!-- introduce rooms -->
@{var b1 = ViewBag.Banner_I1 as LakeInn.Models.DataModels.Banner;
    <div class="container-fluid introduce" style="background-image: url(@b1.Image)">
        <p class="title">@b1.Title</p>
        <p class="detail">@b1.Content</p>
        <div class="book-btn">
            <a href="@Url.Action("RoomRate")">
                <input type="submit" name="" value="our rooms & rates">
            </a>
        </div>
    </div>
}

<!-- stats -->
<div class="container-fluid stats">
    <div class="container title">
        <p>Numbers we are proud of</p>
        <div class="icon-title">
            <img src="/Content/img/icon-title.png">
        </div>
    </div>
    <div class="container info">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">12</p>
                        <div class="slice"></div>
                        <p class="criteria">Luxury Rooms</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">43</p>
                        <div class="slice"></div>
                        <p class="criteria">Dining Options</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">854</p>
                        <div class="slice"></div>
                        <p class="criteria">Happy Guests</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="itemBox">
                    <div class="item">
                        <p class="number">9.5</p>
                        <div class="slice"></div>
                        <p class="criteria">Average Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end stats -->
<!-- blogs -->
<div class="container-fluid blogs">
    <div class="container title">
        <p>From Blogs</p>
        <div class="icon-title">
            <img src="/Content/img/icon-title.png">
        </div>
    </div>
    <div class="container info">
        <div class="row">
            @foreach (var item in ViewBag.Articles as IEnumerable<LakeInn.Models.DataModels.Article>)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="itemBox">
                        <div class="item">
                            <div class="img" style="background-image: url(@item.Image);"></div>
                            <div class="slice"></div>
                            <p class="info-title">@item.Title</p>
                            <p class="time">@item.Date_Created.ToString("MMM dd,yyyy") <span><i class="fas fa-comment"></i> 0</span></p>
                            <div class="slice"></div>
                            <p class="detail">
                                @item.Description
                            </p>
                            <p class="more"><a href="@Url.Action("DetailArticle", "Home", new { id = item.Id })">Read More</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="blog-btn">
            <a href="@Url.Action("Article")">
                <input type="submit" name="" value="go to the blog">
            </a>
        </div>
    </div>
</div>
<!-- end blogs -->
<!-- introduce rooms 2 -->
@{var b2 = ViewBag.Banner_I2 as LakeInn.Models.DataModels.Banner;
    <div class="container-fluid introduce2" style="background-image: url(@b2.Image)">
        <p class="detail">@b2.Title</p>
        <p class="title">@b2.Content</p>
        <div class="book-btn">
            <a href="#">
                <input type="submit" name="" value="intersted?">
            </a>
        </div>
    </div>
}
<!-- end introduce rooms 2 -->
<!-- review -->
<div class="container-fluid review">
    <p class="title">Our Guests say</p>
    <div class="icon-title">
        <img src="/Content/img/icon-title.png">
    </div>
    <div class="container guest">
        <div class="row review-slide">
            @foreach (var item in ViewBag.Team as IEnumerable<LakeInn.Models.DataModels.Team>)
            {
                <div class="col-12 item">
                    <p class="detail">
                        @item.Description
                    </p>
                    <div class="guest-info row">
                        <div class="col-6 info-item">
                            <div class="guest-img" style="background-image: url(@item.Avatar);"></div>
                        </div>
                        <div class="col-6 info-item">
                            <div class="row">
                                <div class="col-12 name"><p>@item.FullName</p></div>
                                <div class="col-12 job"><p>@item.Position</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- end review -->
<!-- check room -->
<div class="container-fluid check">
    <div class="container check-items">
        <div class="row">
            <div class="col-8">
                <p class="ad">Free kayaking lessons for our guests!</p>
                <p class="detail">Do you fancy kayaking? How about fishing? We always have to offer something you'll enjoy.</p>
            </div>
            <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                <button><a href="@Url.Action("RoomRate")">check rooms & rates</a></button>
            </div>
        </div>
    </div>
</div>
<!-- end check room -->
@*
    Modal
*@
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><b>Book Now</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FrmBook">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Your Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="mname" placeholder="John Sclare Witch">
                                <div class="invalid-feedback error-name">Please fill out this field</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email address <span style="color:red">*</span></label>
                                <input type="email" class="form-control" id="memail" placeholder="name@example.com">
                                <div class="invalid-feedback error-email">Please fill out this field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Phone <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="mphone" placeholder="+84123456789">
                                <div class="invalid-feedback error-phone">Please fill out this field</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Identity <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="midentity" placeholder="123456789125">
                                <div class="invalid-feedback error-iden">Please fill out this field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Address</label>
                                <input type="text" class="form-control" id="maddress" placeholder="Boston, Sanadress USA">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Type <span style="color:red">*</span></label>
                                @Html.DropDownList("RT", null, new { @class = "form-control", id = "mroomtype" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Quantity Room <span style="color:red">*</span></label>
                                <input type="number" class="form-control" id="qmroom" placeholder="1">
                                <div class="invalid-feedback error-room">Please fill out this field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Check-in Date <span style="color:red">*</span></label>
                                <input type="date" name="" id="mcid" class="form-control criteria">
                                <div class="invalid-feedback error-cid">Please fill out this field</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Check-out Date <span style="color:red">*</span></label>
                                <input type="date" name="" id="mcod" class="form-control criteria">
                                <div class="invalid-feedback error-cod">Please fill out this field</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Quantity Adults <span style="color:red">*</span></label>
                                <input type="number" class="form-control" id="qmadult" placeholder="1">
                                <div class="invalid-feedback error-adults">Please fill out this field</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Quantity Childs <span style="color:red">*</span></label>
                                <input type="number" class="form-control" id="qmchild" placeholder="1">
                                <div class="invalid-feedback error-childs">Please fill out this field</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Note</label>
                        <textarea class="form-control" id="mnote" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="submit-book">Book now!</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        validform();
    </script>
}